﻿@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12">
    <div class="row">
        <p>Dangers reported for district Wola:</p>
    </div>
    <div class="row">
        <div class="partialContents" data-url="/DangerReport/data">
            <img id="loading" src="~/Content/Images/lg.circle-slack-loading-icon.gif" />
        </div>
    </div>
</div>