﻿@model List<DangerReport.Core.ViewModels.DangerReportViewModel>

<div class="col-md-12">
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="row">
            <p>@(i+1)</p>
            <p>Kategoria: @Model[i].Category</p>
            <p>Miasto: @Model[i].City</p>
            <p>Podkategoria: @Model[i].Subcategory</p>
            <p>Dzielnica: @Model[i].District</p>
            <p>Zdarzenie: @Model[i].Event</p>
        </div>
        <br/>
    }
</div>